*{
    padding: 0;
    margin: 0;
}

.navbar{
  display: flex;
  align-items: center;
    background: #212529;
 min-height: 80px;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 80px;
    align-items: center;
    /* font-size: 23px; */
    list-style: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .toglle{
    display: none;
}
@media(max-width:600px){
    .navbar ul{
        font-size: 12px;
    }
}
@media(max-width:750px){
    .navbar ul{
       display: none;
    }
    .navbar .toglle{
        display: flex;
        align-items: center;
        color: white;
       
        border: 1px solid white;
        padding: 2px;
        margin-left: 20px;
        border-radius: 3px;
    font-size: 23px;
    position: relative;
    }
}
.menu_mini{
    position: absolute;
    top: 110%;
    padding: 10px;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    
}
a{
    text-decoration: none;
}
.menu_mini a:hover{
    scale: 1.01;
}
.menu_mini:active{
    display: none;
}
.menu_mini a{
 color: white;   
}