* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    overflow-x: hidden;
    background-color: whitesmoke !important ;
  }
  .content {
    max-width: 1150px;
    padding: 1rem;
  }

  .proiz-container {
    width: 100%;
  }
  
  .kotta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 123412;
  }
  .text a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
  }
  .text a:hover {
    color: red;
  }
  .text {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    color: white;
  }
  .chiq {
    display: none;
  }

  .black {
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 43, 226, 0.192);
    z-index: 99;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
  }
  .menu {
    width: 320px;
    height: 100vh;
    border-radius: 2px;
    text-align: center;
    position: fixed;
    top: 0px;
    padding-top: 50px;
    right: -100%;
    background-color: rgb(255, 0, 255);
  
    z-index: 100;
    transition: 0.3s;
  }
  .menu1 {
    width: 90%;
    margin: auto;
    height: 40px;
    border: 1px dotted fuchsia;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .mem {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
  }
  .mem:hover {
    transform: rotate(180deg);
  }
  .contact {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center !important;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .contact .nomer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    align-items: center !important;
    justify-content: space-around;
    width: 60%;
    margin: 0px;
  }
  ul {
    padding-left: 0px !important ;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cfcfcf;
  }
  
  .nav_menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 123412;
  }
  .bx-cart {
    color: white;
  }
  .nav_icon {
    font-size: 30px;
  }
  
  .nav_menu_btn button {
    width: 200px;
    min-width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
  }
  .nav_menu_link img {
    width: 30px;
  }
  .nav_menu_email p {
    width: 100%;
  }
  .nav_menu_num p {
    width: 100%;
    min-width: 100%;
  }
  .cchiq {
    display: none;
  }
  .nav_img img {
    width: 150px;
    min-width: 80px;
  }
  
  .nodir {
    width: 100%;
    display: flex !important;
    align-items: center;
  }
  .btn button {
    width: 300px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .inp {
    width: 100%;
  }
  .inp input {
    width: 100%;
    min-width: 300px;
    height: 40px;
    padding-left: 10px;
    border: solid 1px gray;
    outline: none;
  }

  .kategor_1 a{
      text-decoration: none;
      color: black;
  }
  .kategor_1 ul{
      width: 95%;
      min-width: 300px;
      background-color: white;
      list-style: none;
  }
  .mm li{
      width: 100%;
      min-width: 30px;
      border-bottom: solid 1px rgba(224, 222, 222, 0.876);
      line-height: 40px;
      padding-left: 10px;
      font-weight: 500;
  }
  .mm1 a span li{
      font-size: 20px;
      list-style: none;
      text-align: left;
      font-weight: 500;
      margin-bottom: 0.5rem;
  }
  
  .img_1 img{
      width: 15%;
      min-width: 300px;
  }
  
  .kategor_1 ul.ulli .mm a li:hover{
    color: #e11212;
    font-weight: 700;
  }
  .kategori_tovarov{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 3rem;
  }
  .kategor_2{
      width: 65%;
  }
  .kategor_1{
      width: 18%;
      min-width: 300px;
      border-right: solid 1px rgb(176, 173, 173);
  }
  .kategor_2 a{
      text-decoration: none;
  }
  .proiz-h1 h3{
      text-align: center;
  }

  .glavnaya span a {
    color: #2d2f8c;
    font-weight: 600  ;
  }

  .glavnaya p a:hover {
    color: #e11212;
  }

  .glavnaya p {
    font-size: 20px;
    font-weight: 600;
  }

  .glavnaya {
    align-items: center;
  }

  .glavnaya span {
    font-size: 20px;
  }

  .oxiridan_oldingisi{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110e0e;
    margin-top: 3%;
    flex-wrap: wrap;
  }
  .oxiridan_oldingisi_4{
    width: 40%;
    min-width: 300px;
  }
  .oxiridan_oldingisi_1 ul {
    color: gray;
    list-style: none;
  }
  .oxiridan_oldingisi_2 ul {
    color: gray;
    list-style: none;
  }
  .oxiridan_oldingisi_3 ul {
    color: gray;
    list-style: none;
  }
  .oxiridan_oldingisi_4 {
    color: gray;
  }
  .oxiridan_oldingisi_1 a{
    color: gray;
  }
  .oxiridan_oldingisi_2 a{
    color: gray;
  }
  .oxiridan_oldingisi_3 a{
    color: gray;
  }
  .oxiridan_oldingisi_4 a{
    color: gray;
  }
  .oxiridan_oldingisi_4 img{
    width: 10%;
    min-width: 40px;
  }
  .oxiri{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: gray;
    font-size: 12px;
    padding-top: 10px;
  }
  .oxiri_1 a{
    color: red;
    text-decoration: none;
  }
  .accordion-item {
    margin: 1rem !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid lightgray !important;
    padding: 0.5rem !important;
  }

  .accordion-button {
    background: transparent !important;
  }

  .accordion-button:not(.collapsed) {
    background: transparent !important;
  }

  b, strong {
    font-weight: 400 !important;
  }

  .accordion-item:first-of-type .accordion-button {
    border-radius: 0 !important;
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    font-size: 38px !important;
    font-weight: 600;
  }

  .accordion-button:not(.collapsed) {
    color: #110e0e !important;
    font-size: 38px !important;
    font-weight: 600;
  }

  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    font-size: 38px !important;
    font-weight: 600;
    color: black;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

  /* .accordion {
    width: 100%;
  }

  .accordion li {
    list-style: none;
    width: 100%;
    background: transparent;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid lightgray;
  }

  .accordion li label {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
  }

  label::before {
    content: "";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
  }

  input[type="radio"] {
    display: none;
  }

  .accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s, padding 0.4s;
  }

  .accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
  }

  .content p span {
    color: #2d2f8c;
    cursor: pointer;
  } */

  .kategor_3 {
    display: none;
  }

  .kategor_3 a{
    text-decoration: none;
    color: black;
}
.kategor_3 ul{
    width: 95%;
    min-width: 300px;
    background-color: white;
    list-style: none;
}

.kategor_3 ul.ulli .mm a li:hover{
  color: #e11212;
  font-weight: 700;
}

.kategor_3 {
  width: 18%;
  min-width: 300px;
  border-right: solid 1px rgb(176, 173, 173);
  padding-right: 1rem;
}

.nodir {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.nodir button {
  width: 20%;
  border: none;
  background-color: red;
  color: white;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.98rem;
  font-size: 14px;
  font-weight: 600;
} 

.nodir input {
  width: 80%;
  padding: 0.8rem;
  padding-left: 10px;
  border: solid 1px gray;
  outline: none;
}













  /* media css */

  @media (max-width: 1156px) {
    .navbar {
      display: none;
    }
    .nav_menu_tel {
      gap: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .cchiq {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 5px white;
      font-size: 22px;
      cursor: pointer;
      transition: 0.3s;
    }
    .cchiq:hover {
      transform: rotate(180deg);
    }

    .text a {
        display: none !important;
      }
      .text {
        width: 90%;
        margin: auto;
        justify-content: right;
      }
      .chiq {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px white;
        font-size: 22px;
        cursor: pointer;
        transition: 0.3s;
      }
      .chiq:hover {
        transform: rotate(180deg);
      }

      /* .accordion {
        width: 100%;
      }
    
      .accordion li {
        width: 100%;
        list-style: none;
        background: transparent;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid lightgray;
      }
    
      .accordion li label {
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
      }
    
      label::before {
        content: "";
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
      }
    
      input[type="radio"] {
        display: none;
      }
    
      .accordion .content {
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
      }
    
      .accordion input[type="radio"]:checked + label + .content {
        max-height: 400px;
        padding: 10px 10px 20px;
      } */
  }

  @media (max-width:1100px) {
    .accordion {
      width: 100%;
    }
  
    .accordion li {
      list-style: none;
      width: 100%;
      background: transparent;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid lightgray;
    }
  
    .accordion li label {
      display: flex;
      align-items: center;
      padding: 13px;
      font-size: 26px;
      font-weight: 700;
      cursor: pointer;
    }
  
    label::before {
      content: "";
      margin-right: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  
    input[type="radio"] {
      display: none;
    }
  
    .accordion .content {
      color: #555;
      padding: 0 10px;
      line-height: 24px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
    }
  
    .accordion input[type="radio"]:checked + label + .content {
      max-height: 400px;
      padding: 10px 10px 20px;
    }
  }

  @media (max-width:858px) {
    .kategor_1 {
      display: none;
    }
    
    .kategori_tovarov {
      display: flex;
      flex-wrap: wrap;
    }

    .kategor_3 {
      width: 100%;
      display: block;
      margin-top: 1rem;
    }

    .mm li {
      width: 95%;
    }

    .kategor_3 img {
      width: 100%;
      height: 450px;
      
    }

    .accordion-item {
      margin: 1rem !important;
      background: transparent !important;
      border: none !important;
      border-bottom: 1px solid lightgray !important;
      padding: 0.5rem !important;
    }
  
    .accordion-button {
      background: transparent !important;
    }
  
    .accordion-button:not(.collapsed) {
      background: transparent !important;
    }
  
    b, strong {
      font-weight: 400 !important;
    }
  
    .accordion-item:first-of-type .accordion-button {
      border-radius: 0 !important;
    }
  
    .accordion-item:last-of-type .accordion-button.collapsed {
      font-size: 27px !important;
      font-weight: 600;
    }
  
    .accordion-button:not(.collapsed) {
      color: #110e0e !important;
      font-size: 27px !important;
      font-weight: 600;
    }
  
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      font-size: 27px !important;
      font-weight: 600;
      color: black;
  }
  
  .accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
  }
  }

  /* @media (max-width:856px) {
    .proiz-img-box {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .kategor_2{
      width: 100%;
  }

  .proiz-links-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .proiz-links1 {
    text-align: center;
    margin: auto;
  } */

  @media (max-width: 650px) {
    .nodir {
      display: flex;
    }

    .nodir button {
      width: 180px;
      padding: 0.8rem;
    }

    .nodir input {
      width: 80%;
      padding: 0.66rem;
    }

    .input-card {
      display: block;
    }

    .input-card input {
      width: 99%;
      margin-bottom: 1rem;
    }
  }

  @media(max-width: 500px) {
    .accordion {
      width: 100%;
    }

    .accordion li {
      list-style: none;
      width: 100%;
      background: transparent;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid lightgray;
    }  

    .accordion li label {
      display: flex;
      align-items: center;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 19px;
      font-weight: 700;
      cursor: pointer;
    }
  
    label::before {
      content: "";
      margin-right: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  
    input[type="radio"] {
      display: none;
    }
  
    .accordion .content {
      color: #555;
      padding: 0 10px;
      line-height: 24px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
    }
  
    .accordion input[type="radio"]:checked + label + .content {
      max-height: 400px;
      padding: 10px 10px 20px;
    }
  }

  @media (max-width: 400px) {
    .kategor_2  {
      width: 94%;
    }

    .kategori_tovarov {
      width: 100%;
    }

    .glavnaya p {
      font-size: 17px;
    }

    .contact {
      flex-direction: column;
    }
    .ikcons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .nodir button {
      width: 140px;
      padding: 0.2rem;
    }

    .accordion {
      width: 100% !important;
    }

    .accordion li {
      list-style: none;
      width: 100%;
      background: transparent;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid lightgray;
    }  

    .accordion li label {
      display: flex;
      align-items: center;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 17px;
      font-weight: 700;
      cursor: pointer;
    }
  
    label::before {
      content: "";
      margin-right: 10px;
      font-size: 16px;
      font-weight: 600;
    }
  
    input[type="radio"] {
      display: none;
    }
  
    .accordion .content {
      color: #555;
      padding: 0 10px;
      line-height: 20px;
      font-size: 12px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
    }
  
    .accordion input[type="radio"]:checked + label + .content {
      max-height: 400px;
      padding: 10px 10px 20px;
    }
  }