*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

*, :after, :before {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    background-color: whitesmoke !important ;
}

.content {
    max-width: 1150px;
    padding: 1rem;
}
    
.areom-container {
    width: 100%;
}
    
    .kotta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 123412;
    }
    .text a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    }
    .text a:hover {
    color: red;
    }
    .text {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    color: white;
    }
    .chiq {
    display: none;
    }
    
    .black {
    width: 100vw;
    height: 100vh;
    background-color: rgba(137, 43, 226, 0.192);
    z-index: 99;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    }
    .menu {
    width: 320px;
    height: 100vh;
    border-radius: 2px;
    text-align: center;
    position: fixed;
    top: 0px;
    padding-top: 50px;
    right: -100%;
    background-color: rgb(255, 0, 255);
    
    z-index: 100;
    transition: 0.3s;
    }
    .menu1 {
    width: 90%;
    margin: auto;
    height: 40px;
    border: 1px dotted fuchsia;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    }
    
    .mem {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    }
    .mem:hover {
    transform: rotate(180deg);
    }
    .contact {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center !important;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    .contact .nomer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    align-items: center !important;
    justify-content: space-around;
    width: 60%;
    margin: 0px;
    }
    ul {
    padding-left: 0px !important ;
    }
    
    .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cfcfcf;
    }
    
    .nav_menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 123412;
    }
    .bx-cart {
    color: white;
    }
    .nav_icon {
    font-size: 30px;
    }
    
    .nav_menu_btn button {
    width: 200px;
    min-width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    }
    .nav_menu_link img {
    width: 30px;
    }
    .nav_menu_email p {
    width: 100%;
    }
    .nav_menu_num p {
    width: 100%;
    min-width: 100%;
    }
    .cchiq {
    display: none;
    }
    .nav_img img {
    width: 150px;
    min-width: 80px;
    }
    
    .nodir {
    width: 100%;
    display: flex !important;
    align-items: center;
    }
    .btn button {
    width: 300px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .inp {
    width: 100%;
    }
    .inp input {
    width: 100%;
    min-width: 300px;
    height: 40px;
    padding-left: 10px;
    border: solid 1px gray;
    outline: none;
    }
    
    .kategor_1 a{
      text-decoration: none;
      color: black;
    }
    .kategor_1 ul{
      width: 95%;
      min-width: 300px;
      background-color: white;
      list-style: none;
    }
    .mm li{
      width: 100%;
      min-width: 30px;
      border-bottom: solid 1px rgba(224, 222, 222, 0.876);
      line-height: 40px;
      padding-left: 10px;
      font-weight: 500;
    }
    .mm1 a span li{
      font-size: 20px;
      list-style: none;
      text-align: left;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    
    .img_1 img{
      width: 15%;
      min-width: 300px;
    }
    
    .kategor_1 ul.ulli .mm a li:hover{
    color: #e11212;
    font-weight: 700;
    }
    .kategori_tovarov{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 3rem;
    }
    .kategor_2{
      width: 65%;
    }
    .kategor_1{
      width: 18%;
      min-width: 300px;
      border-right: solid 1px rgb(176, 173, 173);
    }
    .kategor_2 a{
      text-decoration: none;
    }
    .proiz-h1 h3{
      text-align: center;
    }
    
    .glavnaya span a {
    color: #2d2f8c;
    font-weight: 600  ;
    }
    
    .glavnaya p a:hover {
    color: #e11212;
    }
    
    .glavnaya p {
    font-size: 20px;
    font-weight: 600;
    }
    
    .glavnaya {
    align-items: center;
    }
    
    .glavnaya span {
    font-size: 20px;
    }
    
    .oxiridan_oldingisi{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110e0e;
    margin-top: 3%;
    flex-wrap: wrap;
    }
    .oxiridan_oldingisi_4{
    width: 40%;
    min-width: 300px;
    }
    .oxiridan_oldingisi_1 ul {
    color: gray;
    list-style: none;
    }
    .oxiridan_oldingisi_2 ul {
    color: gray;
    list-style: none;
    }
    .oxiridan_oldingisi_3 ul {
    color: gray;
    list-style: none;
    }
    .oxiridan_oldingisi_4 {
    color: gray;
    }
    .oxiridan_oldingisi_1 a{
    color: gray;
    }
    .oxiridan_oldingisi_2 a{
    color: gray;
    }
    .oxiridan_oldingisi_3 a{
    color: gray;
    }
    .oxiridan_oldingisi_4 a{
    color: gray;
    }
    .oxiridan_oldingisi_4 img{
    width: 10%;
    min-width: 40px;
    }
    .oxiri{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: gray;
    font-size: 12px;
    padding-top: 10px;
    }
    .oxiri_1 a{
    color: red;
    text-decoration: none;
    }

.kategor_3 {
    display: none;
}

.kategor_3 a{
    text-decoration: none;
    color: black;
}

.kategor_3 ul{
    width: 95%;
    min-width: 300px;
    background-color: white;
    list-style: none;
}

.kategor_3 ul.ulli .mm a li:hover{
  color: #e11212;
  font-weight: 700;
}

.kategor_3 {
  width: 18%;
  min-width: 300px;
  border-right: solid 1px rgb(176, 173, 173);
  padding-right: 1rem;
}

.nodir {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.nodir button {
  width: 20%;
  border: none;
  background-color: red;
  color: white;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.98rem;
  font-size: 14px;
  font-weight: 600;
} 

.nodir input {
  width: 80%;
  padding: 0.8rem;
  padding-left: 10px;
  border: solid 1px gray;
  outline: none;
}

.arom-text-section {
    width: 100%;
}

.arom-text-section p {
    width: 100%;
    color: #1f2024;
    font-size: 17px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto Condensed',sans-serif;
    line-height: 1.85714285714286;
}

.areo-h1 h3 {
    font-size: 35px;
    color: #2d2f8c;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.glavnaya2 p a {
    font-size: 1rem;
    font-weight: 500;
    color: #4B4F58;
    font-family: 'Roboto Condensed',sans-serif;
}

.glavnaya2 p {
    font-size: 1rem;
    font-weight: 500;
    color: #4B4F58;
    font-family: 'Roboto Condensed',sans-serif;
}

.vrul-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.vrul-cards {
    width: 23%;
    border: 1px solid #eee;
    margin: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
}

.vrul-cards img {
    width: 100%;
    height: 100%;
}

.vrul-min-cards {
    position: absolute;
    bottom: 1.6rem;
    left: 0.7rem;
    width: 90%;
    min-height: 10px;
    background-color: #ffffffb2;
    text-align: center;
    transition: 0.5s;
}

.vrul-min-cards:hover {
    background-color: #fff;
    cursor: pointer;
}

.vrul-min-cards h2 {
    font-size: 17px;
    font-family: 'Roboto' sans-serif;
}

.vrul-min-cards p {
    font-size: 10px;
    color: #56585c;
    font-weight: 600;
}


.input-range-box {
    margin-top: 2rem;
}

.input-renge-btns {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.input-renge-btns button {
    width: 120px;
    height: 32px;
    color: #fff;
    background: #2d2f8c;
    font-size: 13px;
    transition: 0.5s;
    border: none;
    font-weight: 700;
}

.input-renge-btns button:hover {
    color: #fff;
    background: #e11212;
}

.input-renge-btns p {
    margin-left: 0.7rem;;
    color: #1f2024;
}

.input-renge-btns p span {
    font-weight: 600;
}

.input-range-box h2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0
    ;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 90%;
    margin-bottom: 1rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #002aff;
    border-radius: 1rem;
    height: 3px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6.5px; /* Centers thumb on the track */
    background-color: #2b00ff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #2b00ff;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #002aff;
    border-radius: 1rem;
    height: 3px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #2b00ff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #2b00ff;
    outline-offset: 0.125rem;
  }
  .arom-text-section {
    display: flex;
    flex-wrap: wrap;
  }

  .arom-text-section p{
    font-weight: 500;
  }

  .arom-text-section ul {
    margin-left: 6%;
    font-weight: 500;
  }

  .vtulki2-p {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .vtulki2-p img {
    float: right;
    width: 300px;
    height: 300px;
  }

  .vtulki2-p2 {
    display: flex;
  }

  .vtulki2-p2 img {
    width: 300px;
    height: 300px;
  }

  .vtulki2-text {
    margin-left: 2rem;
  }

  .vtulki2-text ol li {
    margin-left: -2rem;
    font-weight: 500;
  }

  .vtulki2-text ol {
    margin-top: 1rem;
  }

  .vtulki-p3 {
    display: none;
  }

  .vtulki-p3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .vtulki-p3 img {
    float: right;
    width: 300px;
    height: 300px;
  }

  .vtulki2-p3 {
    display: none;
  }


































/* media css */

@media (max-width:1100px) {
    .areom-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 896px) {
    .kategori_tovarov {
        display: flex;
        flex-wrap: wrap;
    }

    .vtulki2-p {
        display: none;
    }

    .vtulki2-p2 {
        display: none;
    }

    .glavnaya2 p {
        font-size: 13px;
        margin-bottom: 1rem;
    }

    .glavnaya2 p a {
        font-size: 13px;
    }

    .areo-h1 h3 {
        font-size: 28px;
    }

    .vtulki2-p3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .vtulki-p3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .dostavka {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .areom-container {
        display: block;
        align-items: center;
        flex-wrap: wrap;
    }

    .kategor_1 {
        display: none;
    }

    .arom-text-section {
        width: 100%;
    }

    .kategor_3 {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .kategor_3 img {
        width: 90%;
        height: 55vw;
    }

    .vrul-box {
        display: flex;
        justify-content: center;
    }

    .vrul-cards {
        width: 150px;
        margin-bottom: 1rem;
    }
}

@media (max-width:520px) {
    .vrul-box {
        display: flex;
    }
    .vrul-cards {
        width: 250px;
    }
}

@media (max-width: 400px) {
    .nodir button {
        width: 150px;
        font-size: 10px;
        height: 35px;
        padding: 0;
    }

    .kategori_tovarov {
        padding: 1rem;
    }

    .glavnaya2 p a {
        font-size: 13px;
    }

    .glavnaya2 p {
        font-size: 13px;
    }

    .nodir input {
        width: 100%;
        height: 35px;
        padding: 0;
        padding-left: 0.5rem;
    }

    .vrul-h1 h3 {
        font-size: 20px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .arom-text-section p {
        text-align: center;
        font-size: 12px;
    }

    .kategor_2 {
        width: 100%;
    }

    .kategor_3 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        padding: 0;
        border: none;
    }

    .kategor_3 img {
        width: 100%;
        height: 110vw;
    }

}