*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #161836 !important;
}
.kotta{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    display: flex;
align-items: center !important;
gap: 30px;
color: white;    
}
.text a{
    color: white;
    text-decoration: none;
}
.img img{
    width: 100%;
    min-width: 300px;
}
.chiq{
    display: none;
}
@media (max-width:1156px) {
    .text p{
        display: none !important;
    }
    .text a{
        display: none !important;
    }
    .text button{
        display: none;
    }
    .chiq{
        display: block !important; 
    }
}
.menu{
    width: 360px;
    height: 100vh;
       position: relative;
       left: -360px;
    position: absolute;
    top: 0;
    color: black;
    background: gainsboro;
    transition: .3s;
}
.lil img{
    width: 50%;
    min-width: 300px;
    margin-left: 23%;
}
.lalala{
    padding-top: 50px;
    text-align: center;
    color: white;
}
h1 span{
    color: #FF6400;
}
.ppp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
}
.qqq ul{
    width: 50%;
    list-style: none;
}
.kkk ul{
    width: 50%;
}
.kuku{
    display: flex;
    justify-content: space-around;
}
.kiki{
    display: flex;
    justify-content: space-around;
}