* {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
header {
  background-color: #191a1f;
  min-height: 900px;
}
.ya {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.navbar-expand-lg {
  color: white;
}
.nav-link a {
  color: white !important;
}
.tab img {
  width: 20%;
  min-width: 200px;
}
.tic {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tic button {
  width: 75px;
  height: 35px;
  border-radius: 10px;
  color: white;
  background-color: #7e808833;
  border: none;
  font-size: 17px;
}
.tab :hover {
  color: #eb5323;
}
.tic :hover {
  color: #eb5323;
}
.dif {
  width: 80%;
  min-width: 300px;
  display: flex;
  align-items: center;
  margin-top: -25%;
  margin-left: 21%;
  flex-wrap: wrap;
}
.key img {
  width: 40%;
  min-width: 300px;
  margin-left: 29%;
}

.ke img {
  width: 80%;
  min-width: 300px;
  color: white;
}
.high {
  width: 20%;
  min-width: 300px;
  height: Fixed (182px);
  padding: 32px;
  border-radius: 20px;
  border: 2px solid white;
  gap: 8px;
}
.high h3 {
  color: #ffc266;
  font-size: 15px;
}
.high h2 {
  color: #ffffff;
  font-size: 18px;
}
.hight button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 12px, 28px, 16px, 28px;
  border-radius: 20px;
  gap: 4px;
  color: #ffffff;
  background-color: #811c5e;
  margin-left: 50%;
  margin-top: 3%;
}
.lil {
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-left: 25%;
  flex-wrap: wrap;
}
.hur h1 {
  color: white;
  font-size: 25px;
  padding-left: 10px;
}
@media (max-width: 1860px) {
  .tab {
    display: none;
  }
}
main {
  min-height: 900px;
  background-color: #191a1f;
}
.pic h1 {
  color: white;
  padding-top: 60px;
  margin-left: 8%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pion {
  width: 90%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #262429;
  margin: 40px;
  padding: 30px;
  flex-wrap: wrap;
}
.pion span {
  color: white;
}
.pion span.bir {
  color: #ffc266;
}
.lala {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  flex-wrap: wrap;
}
.la h2 {
  width: 50%;
}
.la {
  margin-left: 8%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.la1 {
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;

  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid gray;
  border-radius: 25px;
  margin: 50px;
  padding: 40px;
  flex-wrap: wrap;
}
@media (min-width: 1880px) {
  .la1 {
    margin-left: -6%;
  }
}
.la1 span {
  color: white;
}
.la1 span.ok {
  width: 50%;
  min-width: 300px;
  text-align: center;
  color: #ffc266;
  font-size: 25px;
}
.mom {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  flex-wrap: wrap;
}
.mommy h2 {
  color: white;
  width: 50%;
  margin-left: 50%;
}
@media (max-width: 860px) {
  .mommy h2 {
    margin-left: 25%;
  }
}
.dad {
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid gray;
  border-radius: 25px;
  margin: 50px;
  padding: 40px;
  flex-wrap: wrap;
  margin-left: 12%;
}
.dad span {
  color: white;
}
.dad span.lol {
  color: #ffc266;
}
.look button {
  width: 170px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #433f49;
  font-size: 18px;
  color: white;
  margin-left: 50%;
}
section {
  min-height: 500px;
  background-color: #191a1f;
}
.quite h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card1 {
  width: 70%;
  margin-left: 20%;
  margin-top: 3%;
}
.card1 button {
  height: 80px;

  margin: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 8px;
  border: 1px solid #dd475e;
  color: white;
  background: #1f214300;
  font-size: 16px;
  gap: 10px;
}
section.bir {
  min-height: 900px;
  background-color: #191a1f;
}
.nigga h1 {
  color: white;
  margin-left: 10%;
  font-size: 50px;
}
.nigga h3 {
  color: white;
  margin-left: 10%;
}
.lili img {
  width: 50%;
  min-width: 270px;
  margin-top: 8%;
  margin-left: 25%;
  margin-bottom: 6%;
}
.lili {
  position: relative;
}
.lily button.mic {
  width: Hug (360px);
  height: 40px;
  padding: 16px, 40px, 18px, 40px;
  border-radius: 28px;
  border: 2px solid #ffc266;
  color: white;
  background-color: #191a1f;
  gap: 10px;
  position: absolute;
  left: 23%;
  top: 55%;
}
.lily2 button.nic {
  width: Hug (360px);
  height: 40px;
  padding: 16px, 40px, 18px, 40px;
  border-radius: 28px;
  border: 2px solid #ffc266;
  color: white;
  background-color: #191a1f;
  gap: 10px;
  position: absolute;
  left: 31%;
  top: 13%;
}
.lily3 button.bic {
  width: Hug (360px);
  height: 40px;
  padding: 16px, 40px, 18px, 40px;
  border-radius: 28px;
  border: 2px solid #ffc266;
  color: white;
  background-color: #191a1f;
  gap: 10px;
  position: absolute;
  left: 51%;
  top: 22%;
}
.lily4 button.vic {
  width: Hug (360px);
  height: 40px;
  padding: 16px, 40px, 18px, 40px;
  border-radius: 28px;
  border: 2px solid #ffc266;
  color: white;
  background-color: #191a1f;
  gap: 10px;
  position: absolute;
  left: 63%;
  top: 41%;
}
.lily5 button.cic {
  width: Hug (360px);
  height: 40px;
  padding: 16px, 40px, 18px, 40px;
  border-radius: 28px;
  border: 2px solid #433f49;
  background-color: #191a1f;
  gap: 10px;
  position: absolute;
  left: 75%;
  top: 60%;
  color: #ffffff;
}

.zam {
  display: flex;
  width: 50%;
  min-width: 300px;
  font-size: 15px;
  color: white;
  margin-left: 25%;
  margin-top: -6%;
  border: 2px solid #dd475e;
  border-radius: 25px;
}
.zamzam h3 {
  font-size: 23px;
  padding-left: 10px;
}
.zamz h3 {
  font-size: 23px;
}
.zamza {
  color: #ffc266;
  margin-top: 3%;
}
@media (max-width: 1870px) {
  .lili.lily button {
    margin-left: -100px;
  }
}
@media (max-width: 1560px) {
  .zamz h3 {
    font-size: 15px;
  }
  .zamzam h3 {
    font-size: 15px;
  }
}
@media (max-width: 1550px) {
  .zamz h3 {
    font-size: 10px;
  }
  .zamzam h3 {
    font-size: 10px;
  }
}
@media (max-width: 810px) {
  .zamz h3 {
    font-size: 8px;
  }
  .zamzam h3 {
    font-size: 8px;
  }
}
section.miya {
  min-height: 900px;
  background-color: #191a1f;
}
.nn h1 {
  color: white;
  padding-top: 70px;
  margin-left: 10%;
}
.mniya img {
  width: 60%;
  min-width: 320px;
  margin-left: 20%;
  margin-top: 10%;
}
.oppa {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80vw;
  margin-left: 10%;
  flex-wrap: wrap;
}
.nuna {
  width: 30%;
  min-width: 400px;
}
.nuna h2 {
  color: white;
  font-size: 20px;
}
.nuna h2 span {
  color: #ffc266;
}
.hyun {
  width: 30%;
  min-width: 400px;
  color: white;
  display: flex;
  border: 2px solid #433f49;
  border-radius: 20px;
  padding: 25px;
  margin: 30px;
}
.h h1 {
  font-size: 20px;
}
.h {
  width: 30%;
}
.u h2 {
  font: 15px sans-serif;
}
.y {
  height: 20px;
  width: 50px;
}
section.fotima {
  min-height: 1900px;
  background-color: #191a1f;
}
.ppp h1 {
  color: white;
  margin-left: 8%;
  padding-top: 80px;
}
.diff {
  color: white;
  width: 50%;
  min-width: 300px;
  margin-left: 25%;
  margin-top: 5%;
}
.ww {
  display: flex;
  color: white;
  width: 50vw;
  min-width: 300px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #dd475e;
  border-radius: 50px;
  padding: 30px;
  margin: 30px;
  margin-left: 22%;
}
@media (max-width: 1400px) {
  .ww {
    flex-wrap: wrap;
    font-size: 10px;
  }
}
.qqq h1 {
  font-size: 50px;
}
.rrr h2 {
  font-size: 25px;
}
section.omi {
  min-height: 900px;
  background-color: #191a1f;
}
.omina h1 {
  color: white;
}
.omna {
  color: white;
  width: 50vw;
  font-size: 15px;
}
.rasm {
  width: 50vw;
}
.omina h1 {
  padding-top: 100px;
  margin-left: 10%;
}
.isab {
  width: 80vw;

  justify-content: space-around;
  display: flex;
  margin-top: 5%;
  margin-left: 10%;
}
@media (max-width: 1085px) {
  .isab {
    flex-wrap: wrap;
  }
}
.omna h2 {
  color: gray;
  font-size: 23px;
}
.omna h2.oni {
  color: white;
  width: 40vw;
  min-width: 300px;
}
.omna h2.mimi {
  color: white;
}
.omna h2.xiya {
  color: white;
}
.omna button {
  width: 250px;
  min-width: 150px;
  height: 50px;
  color: white;
  background-color: #191a1f;
  border: 1px solid gray;
  border-radius: 25px;
}
@media (max-width: 870px) {
  .rasm img {
    width: 300px;
  }
  .omna h2 {
    width: 300px;
    font-size: 15px;
  }
}
section.odi {
  min-height: 900px;
  color: white;
}
.lili {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: -14%;
}
.liy ul {
  width: 40vw;
  min-width: 300px;
  color: white;
  list-style: none;
  font-size: 25px;
  line-height: 70px;
}
@media (max-width: 1640px) {
  .liy ul {
    line-height: 50px;
  }
}
@media (max-width: 1180px) {
  .liy ul {
    line-height: 40px;
  }
}
@media (max-width: 1080px) {
  .lili {
    flex-wrap: wrap;
  }
}
.li img {
  width: 40vw;
  min-width: 300px;
}
.odina h1 {
  margin-left: 10%;
}
.sir {
  margin-left: 20%;
}
section.miledy {
  min-height: 500px;
  background-color: white;
}
.fff {
 display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.sir h3 {
  width: 30vw;
  min-width: 300px;
  font-size: 25px;
  margin-left: -20%;
}
.mem h1{
    
    margin-left: 14%;
}
.miss h3{
    margin-left: 3%;
}
.mrs img {
  width: 30vw;
  min-width: 300px;
}
.mem h1 {
  font-size: 50px;
  gap: 28px;
  line-height: 100px;
}
.sil {
  width: 20vw;
  min-width: 300px;
 
}
.sil h3 {
  font-size: 20px;
  line-height: 50px;
}
.sik h3 {
  border-bottom: 1px solid gray;
}
.sij h3 {
  border-bottom: 1px solid gray;
}
.sih h3 {
  border-bottom: 1px solid gray;
}
.sig button {
  height: 40px;
  width: 150px;
  background-color: #dd475e;
  border: none;
  border-radius: 15px;
}
