header{
    min-height: 1000px;
    background-color: #171717;
}
.kkk{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    min-width: 300px;
}
.jjj img{
    width: 40vw;
    min-width: 300px;
}
.key{
    font-size: 20px;
}
.eee{
    font-size: 20px;
}
.eee :hover{
    color: #27AE60;
}
.lll{
    color: white;
    margin-left: 12%;
}
.lll h1{
    font-family: DM Sans;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
width: 90%;
}
.lll h3{
    color: #828282;
height: 23px;
}
.lll{
    width: 25%;
    min-width: 300px;
}
.jjj{
    width: 40%;
}
.jjj img{
    width: 100%;
    min-width: 300px;
}
.hhh{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
button.bir{
    width: 143px;
height: 42px;
 background-color: #27AE60;
color: #FFFFFF;
border: none;
}
button.ikki{
    width: 143px;
height: 42px;
border: 1px;
background-color: #171717;
color: #FFFFFF;
border: 1px solid #F2F2F2;
}
main{
    min-height: 500px;
    background-color: #171717;
}
.dik{
    text-align: center;
    padding-top: 1px;
    color: #FFFFFF;
}
.dik h3{
   width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
}
.dik h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
}
.div{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    text-align: center;
    width: 100%;
    min-width: 300px;
    flex-wrap: wrap;
}
.dik h3{
    margin: auto;
    width: 40%;
    min-width: 470px;
}
section{
    min-height: 880px;
    background-color: #171717;
    padding-top: 10px;
}
.key{
    color: white;
    text-align: center;
    font-size: 40px;
}
.xixi{
    width: 350px;
    color: #535353;
    background-color: #212121;
  
}
.xixi img{
padding-left: 50px;
padding-top: 50px;
}
.xixi h1{
    padding-left: 50px;
}
.xi{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    height: 241px;
    font-size: 25px;
    min-width: 300px;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.xixi1{
    width: 350px;
    color: #535353;
    background-color: #212121;
    border-bottom: 10px solid #27AE60;
    margin-top: 10px;
    margin-bottom: 10px;
}
.xixi1 img{
padding-left: 50px;
padding-top: 50px;
}
.xixi1 h1{
    padding-left: 50px;
}
section.lil{
    min-height: 500px;
}
.lol{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lool{
    display: flex;
    background-color: #333333;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    width: 80%;
    border: 1px solid gray;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.lo{
    width: 300px;
    min-width: 300px;
    flex-wrap: wrap;
    margin: auto;
}
.lo h1{
    color: #27AE60;
    margin-top: -90px;
}
.lo h2{
    font-size: 100px;
    color: #4F4F4F;
}
.wee{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.queen{
    color: #4F4F4F;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}
.kook{
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
}
.okok{
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
.at{
    text-align: center;
}
.in input{
width: 30%;
min-width: 300px;
height: 109px;
top: 2708px;
left: 346px;
border: 1px solid #4F4F4F;
color: #4F4F4F;
background-color: #171717;;
margin-top: 40px;
padding-left: 15px;
}
.on button{
    width: 143px;
height: 42px;
margin-top: 40px;
background-color: #27AE60;
color: #FFFFFF;
border: none;
}
.finish h4{
 margin-left: 35%;
 color: #4F4F4F;
 padding-top: 50px;
 font-size: 15px;
}

